@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,700;1,400;1,800&display=swap');

html  {
    font-family: 'Prompt', sans-serif;
}

body {
    margin: 0;
    background-color: black;
}
   